snc_redis:
    clients:

        # Define your clients here. The example below connects to database 0 of the default Redis server.
        #
        # See https://github.com/snc/SncRedisBundle/blob/master/docs/README.md for instructions on
        # how to configure the bundle.
        #
        default:
            type: predis
            alias: default
            dsn: "%env(REDIS_URL)%"
services:
    Predis\Client: '@snc_redis.default'
    Predis\ClientInterface: '@Predis\Client'